@using FilmeLibraryService.Models;
@model Film

<div class="film" style="background-image:url('@Model.Image')">
    <a id="detail" href="/Home/FilmDetail?id=@Model.Id">Detail</a>
    <div id="film_name">
        @Model.Name
    </div>
</div>